
body {
	margin: 0px;
}
.wrapper {
	margin: auto;
	width: 79%;
}
.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 190px;
}
.logo {
	position: relative;
	padding: 40px 0;
	padding-left: 44px;
	font: bold 24px/32px "PTSerif-Bold", Arial, Helvetica, Sans-serif;
}
.logo__circle{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	height: 28px;
	border-radius: 50%;
	opacity: 0.7;
}

.logo__circle_color_dark-blue{
	background: #0056EC;
}
.logo__circle_color_blue{ 
left: 8px;
top: 56%;
background: #C8DBFB;
}
.menu {
	display: flex;
	align-items: center;
}
.menu__item {
	position: relative;
	font: 500 18px/21px "Roboto-Regular", Arial, Helvetica, Sans-serif;
	margin-right: 29px;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}
.menu__item:last-child {
	margin-right: 0;
}
.menu__item:after{
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	height: 3px;
	background: #0056EC;
	opacity: 0;
	transition: opacity .5s, width .5s;
}
.menu__item:hover{
	opacity: .5;
box-shadow:
    1px 1px #00AD9F,
    2px 2px #00AD9F,
    3px 3px #00AD9F,
    4px 4px #00AD9F,
    5px 5px #00AD9F,
    6px 6px #00AD9F,
    7px 7px #00AD9F;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}
.menu__item:hover:after{
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	height: 3px;
	background: #0056EC;
}
.menu__item_active::after{
  position: absolute;
  display: block;
  content:'';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity.5s;
}
.menu__item:hover:after, .menu__item_active:after{
	opacity: 1;
}
.main {
	padding: 0 63% 190px 0;
	background: top right no-repeat url(img/Group.png);
}
.main__titel {
	margin: 0 0 38px 0;
	padding-top: 15px;
	font: bold 66px/87px "PTSerif-Bold", Arial, Helvetica, Sans-serif;
}
.main__titel-text_highlight{
	background: #ECF3FF;
}
.main__description {
	margin: 0 100px 38px 0;
	font: normal 22px/26px "Roboto-Regular", Arial, Helvetica, Sans-serif;
}
.main__button {
	display: inline-block;
	padding: 18px 21px;
	font: 500 18px/21px "Roboto-Regular", Arial, Helvetica, Sans-serif;
	color: #FFF;
	background: #0056EC;
	text-decoration: none;
	border-radius: 4px;
	transition: opacity.5s;
}
.main__button::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(0, 0, 0, .2);
	border-radius: 100%;
	transform: translate(-50%, -50%);
	opacity: 0;
}
.main__button:hover {
	animation: bloom ease-in-out .75s forwards;
}
.main__button:hover:: before {
	animation: circle .75s;
}
@keyframes bloom {
	0% {
		filter: grayscale(.8);
	}
	40% {
		filter: grayscale(.5);
	}
	100% {
		filter: grayscale(0);
	}
}
@keyframes circle {
	0% {
		opacity: .5;
		background: rgba(213, 156, 34, .2);
	}
	40% {
		opacity: 1;
		background: rgba(213, 34, 160, .2);
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
.hamburger-menu {
	display: none;
}


@media (max-width:1500px) {

	.wrapper {
	width: 68%;
}
.header {
	margin-bottom: 85px;
}

.menu__item {
	font: 500 14px/16px "Roboto-Regular", Arial, Helvetica, Sans-serif;
	margin-right: 29px;
	margin-top: 8px;
}
.main {
	padding: 16px 50% 100px 0;
	background: top right no-repeat url(img/Frame1366.png);
}
.main__titel {
	margin: 0px 0 36px 0;
	padding-top: 0px;
	font: bold 50px/66px "PTSerif-Bold", Arial, Helvetica, Sans-serif;
}
.main__description {
	padding: 0 100px 18px 0px;
	margin: 0 0px 22px 0;
	font: normal 18px/21px "Roboto-Regular", Arial, Helvetica, Sans-serif;
}
	
.main__button {
	display: inline-block;
	padding: 14px 20px;
	font: 500 14px/16px "Roboto-Regular", Arial, Helvetica, Sans-serif;
}
}

@media (max-width:1300px) {
	.wrapper {
	width: 91%;
}
.header {
	margin-bottom: 85px;
}
.menu__item {
	margin-right: 27px;
	margin-top: 8px;
}
.main {
	padding: 16px 55% 100px 0;
	background: top right no-repeat url(img/Frame1366.png);
}
.main__titel {
	margin: 0px 0 36px 0;
	padding-top: 0px;
	font: bold 50px/66px "PTSerif-Bold", Arial, Helvetica, Sans-serif;
}
.main__description {
	padding: 0 80px 18px 0px;
	margin: 0 0px 22px 0;
	font: normal 18px/21px "Roboto-Regular", Arial, Helvetica, Sans-serif;
}
.main__button {
	display: inline-block;
	padding: 14px 20px;
	font: 500 14px/16px "Roboto-Regular", Arial, Helvetica, Sans-serif;
}
}

@media (max-width:1000px){
		.wrapper {
	margin: auto;
	width: 89%;
}
.header {
	margin-bottom: 80px;
}
.main {
	padding: 16px 55% 100px 0;
	background-size: 58%;
	}
}

@media (max-width:820px) {
	.wrapper {
	margin: auto;
	width: 87%;
}
.logo {
	padding: 24px 0;

}
.logo__name {
	opacity: 0;
}
	.menu {
		display: none;
	}
.hamburger-menu {
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 0px;
  z-index: 5;
}
.hamburger-menu__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 30px;
  cursor: pointer;
  transition: .4s;
}
.hamburger-menu__icon {
  display: block;
  position: relative;
  background: #0056EC;
  width: 100%;
  height: 3px;
  transition: .4s;
  z-index: 6;
}
.hamburger-menu__icon::after, .hamburger-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: #0056EC;
  width: 100%;
  height: 3px;
  transition: .4s;
   z-index: 6;
}
.hamburger-menu__icon::after {
  top: 8px;
}
.hamburger-menu__icon::before {
  top: -8px;
}
.hamburger-menu__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 5;
  height: 0;
  opacity: 1;
  transition: .5s;
  overflow: hidden;
  background-color: #FFFFFF;
}
.hamburger-menu__box {
  transition: .5s;
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
}
.hamburger-menu__item {
	font: normal 30px/59px "Roboto-Regular", Arial, Helvetica, Sans-serif;
}
.hamburger-menu__item {
  text-decoration: none;
  color: #000;
}
.hamburger-menu__checkbox {
  display: none;
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__nav {
  opacity: 1;
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__container {
  height: 100%;
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__button .hamburger-menu__icon {
  background: transparent;
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__button .hamburger-menu__icon::before, .hamburger-menu__checkbox:checked ~ .hamburger-menu__button .hamburger-menu__icon::after {
  top: 0;
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__button .hamburger-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__button .hamburger-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

	.header {
		margin-bottom: 28px;
	}

	.main {
		text-align: center;
		padding: 68% 0 0;
		background-size: 82%;
		background-position: top center; 
	}
	.main__titel {
	margin: 0 0 29px 0;
	padding-top: 20px;
	font: bold 30px/40px "PTSerif-Bold", Arial, Helvetica, Sans-serif;
}
	.main__description {
	padding: 0 45px;
	margin: 0 0px 25px 0;
	font: normal 16px/19px "Roboto-Regular", Arial, Helvetica, Sans-serif;
}
	.main__button {
		font: 500 14px/16px "Roboto-Regular", Arial, Helvetica, Sans-serif;
		padding: 14px 16px;
	}
}



