@font-face {
	font-family: "PTSerif-Bold";
	src:url(fonts/PT_Serif/PTSerif-Bold.woff) format('woff'), url(fonts/PT_Serif/PTSerif-Bold.woff2) format('woff2');
}
@font-face {
	font-family:"Roboto-Regular";
	src:url(fonts/Roboto/Roboto-Regular.woff)format('woff'), url(fonts/Roboto/Roboto-Regular.woff2) format('woff2');
}

div {
	font-family: "PTSerif-Bold"
}
nav {
	font-family: "Roboto-Regular";
}
h1 {
	font-family: "PTSerif-Bold";
}
p {
	font-family: "Roboto-Regular";
}
button {
	font-family: "Roboto-Regular";
}
