@font-face {
	font-family: "PTSerif-Bold";
	src:url(fonts/PT_Serif/PTSerif-Bold.woff) format('woff'), url(fonts/PT_Serif/PTSerif-Bold.woff2) format('woff2');
}
@font-face {
	font-family:"Roboto-Regular";
	src:url(fonts/Roboto/Roboto-Regular.woff)format('woff'), url(fonts/Roboto/Roboto-Regular.woff2) format('woff2');
}

body {
	margin: 0px;
}
.wrapper {
	margin: auto;
	width: 80%;
	border: dashed 1px red;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-family: "PTSerif-Bold";
	padding: 40px 0;
	border: dashed 1px red;
	align-items: center;
}
.menu {
	display: flex;
	align-items: center;
}
.menu__item {
	font-family: "Roboto-Regular";
	font-weight: bold;
	padding: 0 13px;
	border: dashed 1px red;
}
.menu__item:last-child {
	padding-right: 0;
}
.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-content__titel {
	font-family: "PTSerif-Bold";
	font-weight: bold;
}
.main-content__description {
	font-family: "Roboto-Regular";
}
.main-content__button {
	font-family: "Roboto-Regular";
}
