div.{
	font-family: fonts/PT_Serif/PTSerif-Bold.ttf;
}
nav.{
	font-family: fonts/Roboto/Roboto-Bold.ttf;
}
h1.{
	font-family: fonts/PT_Serif/PTSerif-Bold.ttf;
}
p.{
	font-family: fonts/Roboto/Roboto-Bold.ttf;
}
button.{
	font-family: fonts/Roboto/Roboto-Bold.ttf;
}